.app {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header-wrapper {
    flex: 0 1 auto;
}

.app-content {
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
}