.navbar-brand {
    margin-left: 0;
    margin-right: 0;
}

.navbar-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 900px;
    height: 100%;
}

.with-back-button {
    justify-content: space-between;
}

.nothing-for-edge {
    width: 1.25rem;
}