.home-page {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-content {
    max-width: 300px;
}

.button-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
}